<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/dodaj" method="POST">

        <label >atak:</label><br>
        <input type="number" id="atak" name="atak" placeholder="atak" required><br>
        <label >def:</label><br>
        <input type="number" id="zycie" name="zycie" placeholder="zycie" required><br><br>
        <label >koszt:</label><br>
        <input type="number" id="koszt" name="koszt" placeholder="koszt" required><br><br>
        <label >link:</label><br>
        <input type="url" id="link" name="link" placeholder="link" required><br><br>
        <input type="submit" value="zarejestruj">
    </form>
    
</body>
</html>