<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css"   href="/css/play.css">
        <title>Pen & Sword</title>
    </head>
    <body>
        <form action="/end" method="POST">
            <button name="end" id="end" type="submit"  hidden>Wyloguj</button>
        </form>
        
        <div class="main" id="main">
            <div>
                <div id="reka2" class="plansza"></div>
                <div class="plansza" id="p12"></div>
                <div class="hp" id="hp">

                    <table id="t1" >   
                        <th><p id="login" >GRACZ</p></th>
                        <th id="b1">20</th>
                    </table>

                    <p id="zloto">1</p>

                    <table id="t2">
                        <th id="b2">20</th>
                        <th>Przeciwnik</th>
                    </table>

                </div>
                
                <div class="plansza" id="p11" ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                <div id="reka" class="plansza" ondrop="drop(event)" ondragover="allowDrop(event)" ></div>
            </div>
            
            <div class="bottom-buttons">
                <button id="zatwierdz" onclick="send()">zatwierdz</button>
                <button id="wyzuc" onclick="sell()">Wyrzuć</button>
                    <p id="hpppp" hidden>x</p>
    <p id="atakk" hidden>y</p>
            </div>
    </div>
    
    <p id="stat" hidden></p>
    <p id="id2" hidden>xddd</p>
    <p id="temp2" hidden>owo</p>


    <script src="/socket.io/socket.io.js"></script>
    <script>

        var karty=0;
        var atak;        
        var zycie;
        var koszt;
        
        var socket = io();



        socket.emit('room2');

        socket.on('room2',id=>{
                document.getElementById("id2").innerHTML=id;
                
        })
        var bool=1;
        function sell(){
            temp1=document.querySelectorAll(".karta_img");

            [].forEach.call(temp1,function(temp1){
                if(temp1.alt=="zaz"){
                    var list=temp1.parentElement;
                    while (list.hasChildNodes()) {
                list.removeChild(list.lastChild);
            }
                  list.remove();
                  karty--;
            }
            })

        }
        function send(){
            is_playable()
            bool=1;
            var co_wyslac=document.getElementById("p11");
            var child=co_wyslac.childNodes;
            document.getElementById("zatwierdz").disabled=true;
            if( zloto<=10)
            zloto+=1;
            
            if(co_wyslac.childElementCount == 0){
                console.log('errrrrrrrrrr')
                socket.emit("dane",document.getElementById("id2").innerHTML,0,0,0,0,karty,bool)
            }

            [].forEach.call(child,function(child){
                if(child.nodeName=="DIV"){
                   // console.log("atakx"+child.id);
                  //  console.log( document.getElementById("zycie"+child.id).innerText)
                    
                    var grandchild=child.childNodes;

                    [].forEach.call(grandchild,function(grandchild){
                       // console.log("atak"+grandchild.nodeName);
                        if(grandchild.nodeName=="IMG"){
                            socket.emit("dane",document.getElementById("id2").innerHTML, grandchild.src,document.getElementById("atak"+child.id).innerText,document.getElementById("koszt"+child.id).innerText,document.getElementById("zycie"+child.id).innerText,karty,bool)
                            bool=0;
                        }
               

                    })
                }   
                    
    
            })
            socket.emit('ready',document.getElementById("id2").innerHTML)
            

                
        }
        function clear_enemy(){
            socket.emit('clear')
        }
        socket.on('clear',()=>{
            var list=document.getElementById('p12');
            while (list.hasChildNodes()) {
                list.removeChild(list.lastChild);
            }
        })
        var enm=0;
        
        socket.on("enm_card",(link,atakx,kosztx,zyciex,karty_left,bl)=>{
            if(bl==1){
                var rr1=document.getElementById("p12");
                while(rr1.hasChildNodes()){
                    rr1.removeChild(rr1.lastChild);
                }
            }
           // console.log((karty_left));
            var rr=document.getElementById("reka2");
                while(rr.hasChildNodes()){
                    rr.removeChild(rr.lastChild);
                }
            for(var i=0;i<=karty_left-enm-1;i++){

                var bck=document.createElement("img");
                bck.src="https://cdn.discordapp.com/attachments/1061705001753391154/1061705069080359024/BACKWARD.png"
                bck.className="karta_img";
                rr.appendChild(bck);



            }
            document.getElementById("temp2").innerHTML=link+" "+atakx+" "+kosztx+" "+zyciex;
           if(link!=0){
            var div=document.createElement("div");
            var src=document.getElementById('p12');
            div.id="enm"+enm+"div";

            var img = document.createElement("img");
            div.className="karta_kontener_enm";      
            img.id="img"+enm+"enm";
            img.alt=enm;
            img.className="karta_img";
            img.src=link;
            img.height=250;
            img.width=120;
            
            img.draggable=false;
            src.appendChild(div);
            div.appendChild(img);
            create_table("enm"+enm+"div",atakx,kosztx,zyciex);
            enm++;}
            if(document.getElementById("zatwierdz").disabled){
                
                
            }
        })
        var atak_total=0;
            var zycie_total=0;
        function graj(){
            atak_total=0;
            zycie_total=0
            var co_wyslac=document.getElementById("p11");
            var child=co_wyslac.childNodes;         
            

            [].forEach.call(child,function(child){
                if(child.nodeName=="DIV"){
                    atak_total+=parseInt(document.getElementById("atak"+child.id).innerText);
                    zycie_total+=parseInt(document.getElementById("zycie"+child.id).innerText);
                }
                


            })
            socket.emit('battle',document.getElementById("id2").innerHTML,atak_total);

        }
        socket.on('ready',()=>{
            graj();
        })
        function reset(karty_3){
            document.getElementById("zatwierdz").disabled=false;
            is_playable()
            document.getElementById('zloto').innerHTML=zloto;
             enm=0;
             if(karty<7){
                socket.emit('dej')
             }
            if(karty_3<7){
                var rr=document.getElementById("reka2");
             var bck=document.createElement("img");
                bck.src="https://cdn.discordapp.com/attachments/1061705001753391154/1061705069080359024/BACKWARD.png";
                bck.className="karta_img";
                rr.appendChild(bck);

            }




        }
        var zloto=1;

        var licznik=0;
        socket.on('battle2',at=>{
            
            zycie_total=0
            atak_total=0;
            var co_wyslac=document.getElementById("p11");
            var child=co_wyslac.childNodes;         
            is_playable();
            document.getElementById('atakk').innerHTML=at;

            [].forEach.call(child,function(child){
                if(child.nodeName=="DIV"){
                    zycie_total+=parseInt(document.getElementById("zycie"+child.id).innerText);
                    atak_total+=parseInt(document.getElementById("atak"+child.id).innerText);
                    console.log("zycie_total")
                }                

            })
            
            document.getElementById("hpppp").innerHTML=zycie_total;
            if(zycie_total<at){
                document.getElementById("b1").innerText=parseInt( document.getElementById("b1").innerText)-at+zycie_total;
            }
            if(parseInt( document.getElementById("b1").innerText)<=0){
                
                if(!alert("przegrana")){
                    socket.emit('koniec',document.getElementById("id2").innerHTML)
                }
                



            }
  
                    reset();
                
            socket.emit("zycie",document.getElementById("id2").innerHTML,document.getElementById("b1").innerText,karty);
        })
        socket.on('koniec',()=>{
            document.getElementById("end").click();
        })

        socket.on('zycie',(hpp,karty_2)=>{
            document.getElementById("b2").innerText=hpp;
           // reset(karty_2);

            is_playable()
        })

        for(var i=0;i<5;i++)
                socket.emit('dej');
        
        function create_table(ojciec,a,k,z){
            var table=document.createElement("table");
            table.className="tabela";
            var tr=document.createElement("tr")
            table.width=120;
            var th_atak=document.createElement('th');
            var th_koszt=document.createElement('th');
            var th_zycie=document.createElement('th');
            th_atak.innerText=a;
            th_atak.className="th_atak";
            th_atak.id="atak"+ojciec;
            th_zycie.id="zycie"+ojciec;
            th_koszt.id="koszt"+ojciec;
            th_zycie.className="th_zycie";
            th_koszt.className="th_koszt";
            th_zycie.innerText=z;
            th_koszt.innerText=k;
            var dodaj=document.getElementById(ojciec);
            dodaj.appendChild(table);
            table.appendChild(tr);
            tr.appendChild(th_atak);
            tr.appendChild(th_koszt);
            tr.appendChild(th_zycie);

        }
        

        socket.on('wynik',(x0,x1,x2,x3)=>{
            document.getElementById('stat').innerHTML=document.getElementById('stat').innerHTML+x0+" "+x1+" "+x2+" "+x3+"||||";
            atak=x1;        
            zycie=x2;
            koszt=x0;
            karty++;
            var karty_nowe=0;
            var co_wyslac=document.getElementById("reka");
            var child=co_wyslac.childNodes;

            [].forEach.call(child,function(child){
                if(child.nodeName=="DIV"){
                    
                   if(parseInt(child.id.replace("div",""))>karty_nowe){
                   karty_nowe= parseInt(child.id.replace("div",""));
                   }

                    console.log(karty_nowe);
                    ////tuuuuuuuuuu
                }


            })

            var co_wyslac2=document.getElementById("p11");
            var child2=co_wyslac2.childNodes;
            if(co_wyslac2.hasChildNodes()){
            [].forEach.call(child2,function(child2){
                if(child2.nodeName=="DIV"){
                    if(parseInt(child2.id.replace("div",""))>karty_nowe){
                   karty_nowe= parseInt(child2.id.replace("div",""));
                   }
                    console.log(karty_nowe);
                }


            })
        }



            karty_nowe++;
            var div=document.createElement("div");
            var src=document.getElementById('reka');
            div.id=karty_nowe+"div";
            var img = document.createElement("img");
            div.className="karta_kontener";      
            img.id="img"+karty_nowe;
            img.alt=karty_nowe;
            img.className="karta_img";
            img.src=x3;
            img.height=250;
            img.width=120;
            img.draggable=false;
            img.ondragover=function(){return false};
            img.ondragstart=function drag(ev) {
                ev.dataTransfer.setData("text", document.getElementById(ev.target.id).parentElement.id);
            }
            img.addEventListener("click",zaznaczone);
            src.appendChild(div);
            div.appendChild(img);
            img.alt="x";
            create_table(karty_nowe+"div",atak,koszt,zycie);
            is_playable();
        })
        var lpp=1;
        const zaznaczone= e=>{
            temp1=document.querySelectorAll(".karta_img");
            //console.log(e.target.id);
            //console.log(e.target.alt);
            [].forEach.call(temp1,function(temp1){
                if(temp1.alt=="zaz"&&temp1.id!=e.target.id){
                temp1.alt="x";
                temp1.style.borderStyle="none";
                is_playable();
            }
            })
            console.log(e.target.alt);
            if(e.target.alt=="zaz"){
                //console.log("true")
                e.target.style.borderStyle="none";
                e.target.alt="x";
                is_playable();
            }
            
            else{
                e.target.style.borderStyle="dotted";
            e.target.alt="zaz";
            }
            
            
            
        }
        function is_playable(){
            //tutaj pisze
            var co_wyslac=document.getElementById("reka");
            var child=co_wyslac.childNodes;
           
            var lp=0;

            [].forEach.call(child,function(child){
                if(child.nodeName=="DIV"){
                    //console.log("koszt"+child.id);
                    lp+=1;
                    //console.log(lp)
                    if(parseInt( document.getElementById("koszt"+child.id).innerText)<=parseInt(document.getElementById('zloto').innerHTML)){
                        document.getElementById("img"+child.id.replace("div","")).draggable=true;
                        
                        document.getElementById("img"+child.id.replace("div","")).style.borderStyle="solid";
                    }else{
                        document.getElementById("img"+child.id.replace("div","")).draggable=false;
                        
                        document.getElementById("img"+child.id.replace("div","")).style.borderStyle="none";
                    }
                
                }})
                if(lp<7){
                   lpp=1
                }
                else
                {
                    lpp=0
                }


        }
                
            
        function drag(ev) {
            ev.dataTransfer.setData("text", document.getElementById(ev.target.id).parentElement.id);
                
        }

        function drop(ev) {
            if(ev.target.nodeName !== "IMG" ){
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
            //console.log(data)
            if(ev.target.id=="reka")
            document.getElementById('zloto').innerHTML=parseInt(document.getElementById('zloto').innerHTML)+parseInt( document.getElementById("koszt"+data).innerText)
            else
            document.getElementById('zloto').innerHTML=parseInt(document.getElementById('zloto').innerHTML)-parseInt( document.getElementById("koszt"+data).innerText)
            is_playable();
        }}
        function allowDrop(ev) {
            if(lpp==1||ev.target.id!='reka')
            ev.preventDefault();
            }

    </script>

    <script>
        socket.on('login',(x)=>{
            document.getElementById("login").innerHTML = x;
            socket.emit('login')
        })
    </script>
    </body>
</html>