<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pen & sword</title>
</head>
<body>
    <form action="/register" method="post" >
        <label >Login:</label><br>
        <input type="text" id="log" name="login" placeholder="login" required><br>
        <label >Hasło:</label><br>
        <input type="password" id="pw" name="haslo" placeholder="haslo" required><br><br>
        <input type="submit" value="zarejestruj">
        <a href="./login">Mam już konto</a>
        <a href="./karta">dodaj karte</a>
      </form>
</body>
</html>