@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
  }

  body {
    background: #142641;
    font-family: "Open Sans", sans-serif;
  }

  .box{
    top: 0; left: 0;
    right: 0; bottom: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  .box span{
    position: relative;
    top: 8px;
    display: inline-block;
    animation: bounce 0.4s ease infinite alternate;
  }
  @keyframes bounce{
    100%{
      top: -5px;
      text-shadow: 0 1px #0f1a29, 
                   0 2px #0f1a29, 
                   0 3px #0f1a29, 
                   0 4px #0f1a29, 
                   0 5px #0f1a29,

                   0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }

  p {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .lobby-form {
    align-items: center;
    justify-content: center;
    background: #0f1a29;
    color: #e9aa28;
    width: 450px;
    min-height: 500px;
    margin: 65px auto;
    margin-top: 10%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  }

  .lobby-form .action button {
    margin-bottom: 10px;
    width: 250px;
    border: none;
    padding: 25px;
    font-family: "Open Sans", sans-serif;
    font-size: 115%;
    cursor: pointer;
    color: #777;
    background: #122033;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;

    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .lobby-form .action button:hover {
    background: #0d1826;
  }
