        body {
                font-family: "Helvetica Neue", sans-serif;
                margin: 0;
                padding: 0;
                background-color: dimgrey;
                }


        .plansza{
                background-color:rgb(124, 120, 120);
                color:#FFF;                
                border-radius:0.25em;
                width:800px;
                min-height: 23vh;
                border-style: solid;
                border-color: black;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                }
        button {
                text-transform: uppercase;
                font-size: 0.8rem;
                padding: 3px 15px;
                color: white;
                line-height: 25px;
                background-color: #00bcd4;
                border: none;
                border-radius: 2px;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
                transition: all 150ms ease-in;
                outline: none;

                }
        #p11{
                border-bottom-style: none;
                }
        .hp{
            border-left-style: solid;
            border-right-style: solid;
            display: flex;
                
                justify-content: center;
                
        }
        #b1{
            background-color: blue;
        }
        #reka2{
                border-bottom-style: none;
                }
        .tabela{
                position: absolute;
                bottom: 20px;
                font-size: 1.2rem;
        }

        .karta_kontener {
                position: relative;
                text-align: center;
                color: white;
        }
        .karta_kontener_enm{
                position: relative;
                text-align: center;
                color: white;
        }
        #zatwierdz{
                position: relative;
                text-align: center;
                width:800px;
                align-items: center;
                justify-content: center;
        }
        .main{
            display: flex;
            flex-direction: column;
            align-items: center;
                justify-content: center;
        }
        #t0{
            align-self: flex-start;
            border-style: solid;
            
            width: 100%;
            
        }    
            #t2{
            width: 100%;
           background-color: crimson;
           
        }
        #t1{
            width: 100%;
            background-color: brown;
            
        }
        button:disabled,
        button[disabled]{
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
        }
        #zloto{
            margin-left: 5%;
            margin-right: 5%;
        }